body {
  background-color: #588B8B;
  margin: 0px;
}

@font-face {
  font-family: "tarotheque";
  src: url("./fonts/tarotheque.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

#home-button {
  background-color: #F3EED9;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 20;
}

#home-button:hover {
  background-color: #588B8B;
  width: 150px;
  height: 150px;
  border: #F3EED9;
  border-color: #F3EED9;
  border-width: 5px;
  border-style: solid;
  box-shadow: 0px 5px 10px #334172;
}

a {
  text-decoration: none;
  font-family: "tarotheque";
  line-height: 1.1;
  color: #334172;
  font-size: 30px;
  text-align: center;
}

#container {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

img {
  width: 100vw;
  animation-name: spin;
  animation-duration: 40s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: absolute;
  transform: translate(-100%, -100%);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (max-width:1400px) {
  #home-button {
    width: 100px;
    height: 100px;
  }
  #home-button:hover{
    width: 90px;
    height: 90px;
    border-width: 5px;
  }
  a{
    font-size: 20px;
  }
}

@media (max-width:900px) {
  #home-button {
    width: 70px;
    height: 70px;
  }
  #home-button:hover{
    width: 60px;
    height: 60px;
    border-width: 5px;
  }
  a{
    font-size: 13.67px;
  }
  img{
    width: 200vw;
  }
}