body{
    font-family: "futura-pt", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 4000px;
    background-color: #F3EED9;
}
@font-face {
  font-family: "tarotheque";
  src: url("./fonts/tarotheque.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
h1{
    font-family: "tarotheque";
    color: #334172;
    font-size: 4vw;
}
a{
    width:2000px;
    color: #1b1743;
    text-decoration: none;
}
.circular-ruins{
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
  gap: 20px; /* Space between items */
}
.book-of-sand{
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
  gap: 20px; /* Space between items */
}
.forking-paths{
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
  gap: 20px; /* Space between items */
}